html {
    color: black;
    background-color: white;
    font-family: Georgia, "DejaVu Sans", sans-serif;
    max-width: 43em;
    margin: auto;
}

.contents, .document > .section { padding-left: 0.5em; }

.title {
    color: white;
    background-color: black;
    padding: 0.5em;
}

.topic-title, h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.topic-title, h1, h2, h3, h4 { color: #333; }

.topic-title, h1, h2, h3, h4 { font-weight: bold; }

h3, h4, h5 { font-variant: small-caps; }

.topic-title, h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }

h5 {
    font-size: 1em;
    font-weight: normal;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

p {
    text-align: justify;
    text-indent: 1.5em;
}

p.topic-title { text-indent: 0; }

a {
    color: #990003;
    text-decoration: none;
    border-bottom: 1px dotted gray;
}

a:hover { text-decoration: none; }
strong { font-weight: bold; }

.figure img {
    padding: 3px;
    border: solid 1px #efefef;
    box-shadow: 1px 1px 5px #999;
}

.align-center { text-align: center; }

.signature {
    text-align: right;
    font-style: italic;
}

.line-block {
    font-size: 82%;
    margin-left: 20%;
}

.verse-signature {
    font-size: 82%;
    font-style: italic;
    margin-top: 1em;
    margin-left: 40%;
}
