<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />

    <title>$title$</title>
    <link href="/css/default.css" type="text/css" media="all" rel="stylesheet">
    <link href="/css/print.css" type="text/css" media="print" rel="stylesheet">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22732976-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
<body>
  <div id="navbar">
    <span><a href="/">Список книг</a></span>
  </div>
  <div id="outer">
    <div id="main-column" class="book">
      $body$
    </div>
  </div>
</body>
</html>
